<div class="schedule">
  <section class="day-nav row centered collapse">
    <ul class="small-12 columns">
      <li>
        {{#link-to "photo" 1}}Photo 1{{/link-to}}
      </li>
      <li>
        {{#link-to "photo" 2}}Photo 2{{/link-to}}
      </li>
    </ul>
  </section>
  {{liquid-outlet watchModels=true class="body-container"}}
</div>
